* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

hr {
  margin: 0;
}

header {
  background-color: rgb(66, 0, 100);
}

.navbar {
  background-color: rgb(66, 0, 100);
}

.navbar-nav {
  align-items: center;
}

#navbarNav {
  justify-content: center;
}

.navbar-toggler {
  background-color: rgba(0, 0, 0, 0.368);
}

@media (min-width: 992px) {
  .navbar {
    font-size: 1.5rem;
  }
}
footer {
  background-color: rgb(66, 0, 100);
}

footer h3 {
  font-size: 1rem;
}

@media (min-width: 992px) {
  footer h3 {
    font-size: 2rem;
  }
}
footer ol, ul {
  padding-left: 0;
}

footer ul li {
  color: black;
}

.container-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.logo-footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.redes-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.listitem-redes {
  color: aliceblue;
}

main {
  background-color: rgb(0, 0, 0);
}
main p {
  font-family: "PT Serif", serif;
  color: azure;
}
main h2 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1.5rem;
  color: rgba(88, 0, 100, 0.927);
  display: flex;
  justify-content: center;
}

.inicio-img {
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  padding: 0;
  box-shadow: 0px 0px 100px 0px rgba(164, 7, 211, 0.75);
}

.img-article {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 992px) {
  main h2 {
    font-size: 2.5rem;
  }
  main p {
    font-size: 1.5rem;
  }
  .img-article {
    width: 70%;
    display: flex;
    justify-content: center;
  }
  .text-article {
    width: 70%;
  }
  .container-articlemain {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.container-tienda {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  max-width: 100%;
  margin: 0;
}

.card-tienda {
  max-width: 100%;
  margin-bottom: 1rem;
  box-shadow: 0px 0px 100px 0px rgba(164, 7, 211, 0.75);
}

.card-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn-tienda {
  color: #e8e5e8;
  font-size: 1rem;
  padding: 8px;
  text-decoration: none;
  border-radius: 33px;
  box-shadow: 1px 1px 8px #454245;
  text-shadow: 4px 1px 4px #635963;
  border: solid #620265 1px;
  background: blueviolet;
}

.container-show {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.darkTable {
  font-family: Impact, Charcoal, sans-serif;
  border: 2px solid #000000;
  background-color: #4A4A4A;
  width: 100%;
  height: 200px;
  text-align: center;
  border-collapse: collapse;
}

.table.darkTable .tablecell,
.table.darkTable .tablehead {
  border: 1px solid #4A4A4A;
  padding: 3px 2px;
}

.table.darkTable .tablebody .tablecell {
  font-size: 13px;
  color: rgb(255, 255, 255);
  background-color: rgb(66, 0, 100);
  background: radial-gradient(circle, rgb(2, 0, 36) 0%, rgb(66, 0, 100) 100%, rgb(0, 212, 255) 100%);
}

.table.darkTable .tableheader {
  background: #000000;
  border-bottom: 3px solid #000000;
}

.table.darkTable .tableheader .tablehead {
  font-size: 15px;
  font-weight: normal;
  color: #ffffff;
  text-align: center;
  border-left: 2px solid #4A4A4A;
  background-color: rgb(66, 0, 100);
  background: radial-gradient(circle, rgb(2, 0, 36) 0%, rgb(66, 0, 100) 100%, rgb(0, 212, 255) 100%);
}

.table.darkTable .tableheader .tablehead:first-child {
  border-left: none;
}

.darkTable {
  font-size: 12px;
}

/* DivTable.com */
.table {
  margin-bottom: 0;
  display: table;
  background: rgb(2, 0, 36);
  background: linear-gradient(0deg, rgb(2, 0, 36) 0%, rgb(66, 0, 100) 100%, rgb(0, 212, 255) 100%);
}

.tablerow {
  display: table-row;
}

.tableheader {
  display: table-header-group;
}

.tablecell,
.tablehead {
  display: table-cell;
}

.tablebody {
  display: table-row-group;
}

.btn-table {
  color: #e8e5e8;
  font-size: 13px;
  padding: 8px;
  text-decoration: none;
  border-radius: 33px;
  box-shadow: 1px 1px 8px #454245;
  text-shadow: 4px 1px 4px #635963;
  border: solid #a6a4a7 1px;
  background: black;
}

.img-galeria {
  margin-bottom: 1rem;
  object-fit: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.video-galeria {
  margin-bottom: 1rem;
  object-fit: cover;
}

.container-contacto {
  display: flex;
  justify-content: center;
  align-items: start;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.container-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (min-width: 992px) {
  .img-contacto {
    height: 600px;
  }
}

/*# sourceMappingURL=styles.css.map */
