* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

/* Encabezado */
header{
    background-color:rgb(66, 0, 100) ;
}
.navbar {
    background-color: rgb(66, 0, 100);
}

.navbar-nav {
    align-items:center;
}

#navbarNav{
    justify-content:center;
}

.navbar-toggler {
    background-color: rgba(0, 0, 0, 0.368);
}


