.container-contacto{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.form-item{
    display: flex;
    justify-content: center;
    align-items: center;
}
