.container-contacto{
    display: flex;
    justify-content: center;
    align-items: start;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.container-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img-contacto{
    @media (min-width: 992px) {
        height: 600px;
    }
    
}
