$color_1: aliceblue;

.container-contacto {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	margin-bottom: 1rem;
	margin-top: 1rem;
}
.container-form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.label {
	color: $color_1;
}
@media (min-width: 992px) {
	.img-contacto {
		height: 600px;
	}
}