$color_1: azure;
$color_2: rgba(88, 0, 100, 0.927);
$font-family_1: 'PT Serif', serif;
$font-family_2: Georgia, 'Times New Roman', Times, serif;
$background-color_1: rgb(0, 0, 0);

main {
    background-color: $background-color_1;

    p {
        font-family: $font-family_1;
        color: $color_1;
    }

    h1,h2 {
        font-family: $font-family_2;
        font-size: 1.5rem;
        color: $color_2;
        display: flex;
        justify-content: center;
    }
}

.img-inicio {
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    padding: 0;
    box-shadow: 0px 0px 100px 0px rgba(164, 7, 211, 0.75);
}

.article-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    display: flex;
    justify-content: center;
}

.article-text {
    width: 70%;
}

.container-articlemain {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (min-width: 992px) {
    main {
        h1,h2 {
            font-size: 2.5rem;
        }

        p {
            font-size: 1.5rem;
        }
    }
}