$background-color_1: rgb(66, 0, 100);
$background-color_2: rgba(0, 0, 0, 0.368);

header {
    background-color: $background-color_1;
}

.navbar {
    background-color: $background-color_1;
}

.navbar-nav {
    align-items: center;
}

#navbarNav {
    justify-content: center;
}

.navbar-toggler {
    background-color: $background-color_2;
}

@media (min-width: 992px) {
    .navbar {
        font-size: 1.5rem;
    }
}